:root {
    --bg-gradient-start: #182700;
    --bg-gradient-end: rgb(208, 221, 68);
    --text-color: rgb(208, 221, 68);
  }
  
  .body {
      background-image: linear-gradient(to left, var(--bg-gradient-start), var(--bg-gradient-end));
  }
  
  .game__menu {
      display: flex;
      border-bottom: 1px solid var(--bg-gradient-end);
      width: 800px;
      background-color: var(--bg-gradient-start);
      justify-content: space-between;
      padding: 5px 20px;
      box-sizing: border-box;
  }
  
  .game__box {
      display: flex;
  }
  
  .game__icon {
      display: flex;
      padding: 10px;
  }
 
  .game__counters {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: var(--text-color);
      display: flex;
      box-sizing: border-box;
      align-items: center;
  }
  
  @media screen and (min-width: 820px) and (min-height: 700px) {
    .media-alert {
      display: none;
    }
  }
   @media screen and (max-width: 819px), (max-height: 699px) {
    .game__canvas, .game__menu {
      display: none;
    }
  }

  .media-alert {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    box-sizing: border-box;
    align-items: center;
  }

